/*Beatriz Arbizu Ramírez uo225211*/
/*Selectores de especificidad 001*/

th{
	background:#2b3ff8;
	color:white;
	
}

caption{
	color:#3f5da8;
}
table{
	margin: auto;
	width: 100%; height: auto;
	
}

td,th{
	border:0.063em solid;
	padding:0.75em;
	border-color:#2336e0;
}





	

	
